.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.container > div > img {
    height: 200px;
    width: 200px;
}