@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
nav#largeNav {
  background-image: url("../../images/navbar.png");
  height: 280px;
  width: 100%;
}
nav#largeNav:after {
  content: "";
  clear: both;
  display: table;
}
.brand-logo {
  height: 80px;
  margin-left: 20px;
  margin-top: 10px;
}

nav#largeNav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav#largeNav ul li {
  float: left;
  display: inline-block;
  margin: 0 5px;
}
nav#largeNav ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 8px;
}
nav#largeNav ul li a:hover {
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #1dadf0, 0 0 10px #1cd2ff;
}
nav#largeNav ul ul li a:hover {
  box-shadow: none;
}
nav#largeNav ul ul {
  position: absolute;
  top: 90px;
  /* border-top: 3px solid rgb(31, 194, 243); */
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}
nav#largeNav ul ul ul {
  border-top: none;
}
nav#largeNav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav#largeNav ul ul li {
  position: relative;
  margin: 0px;
  width: 200px;
  float: none;
  display: list-item;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
}
nav#largeNav ul ul li a {
  line-height: 38px;
}
nav#largeNav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}
.show,
.icon,
input {
  display: none;
}
.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}

.brand-tagline {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-left: 80px;
  font-weight: 600;
  margin-right: 80px;
}

.tagline {
  display: flex;
  margin-top: 80px;
}

@media screen and (max-width: 800px) {
  .tagline {
    visibility: hidden;
  }
}
