#smallNav {
    display: none;
}

#toggler-btn {
    display: none;
}

.displayContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

@media all and (max-width: 798px) {
    #smallNav {
        display: flex;
        flex-direction: column;
        background-image: url("../../images/navbar.png");
        height: 450px;
    }

    #largeNav {
        display: none;
    }

    #toggler-btn {
        display: block;
    }

    #navContent {
        display: none;
    }

    #navContent ul {
        list-style-type: none;
    }

    #navContent ul li {
        margin-top: 12px;
        text-align: center;
    }

    #navContent ul li a {
        color: #ffffff;
        text-decoration: none;
    }

    .profileData {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .profileDataDrop {
        font-size: 0.9em;
    }

    #profileDataDrop, #profileRequestData {
        display: none;
    }
}